.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.21;

  background-color: rgb(241, 241, 241);
  border-bottom: 1px solid rgba(207, 207, 207, 0.4);
  border-radius: 2%;
  box-shadow: 10px 9px 20px -4px rgba(0, 0, 0, 0.4);
}
